In [1]:
import zipfile
import os
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

!mkdir -p '/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week7/'
%cd '/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week7/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week7

In [3]:
# Storing the path of the data file from the Google drive
path = 'cust_seg.csv.zip'

# The data is provided as a zip file so we need to extract the files from the zip file
with zipfile.ZipFile(path, 'r') as zip_ref:

    file_list = zip_ref.namelist()

    csv_files = [f for f in file_list if f.endswith('.csv')]

    # Check the size of the CSV file and read it
    if csv_files:
        total_rows = 0

        for csv_file in csv_files:
            print(f"Processing file: {csv_file}")

            with zip_ref.open(csv_file) as f:
                try:
                    chunk_size = 100000
                    for chunk in pd.read_csv(f, chunksize=chunk_size, on_bad_lines='skip', encoding='ISO-8859-1'):
                        total_rows += len(chunk)
                except pd.errors.ParserError as e:
                    print(f"ParserError encountered in {csv_file}:", e)
        print(f"Total rows across all CSV filed: {total_rows}")
    else:
        print("No CSV files found in the ZIP archive.")

Processing file: cust_seg.csv

<ipython-input-3-db557ff74d79>:21: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size, on_bad_lines='skip', encoding='ISO-8859-1'):
<ipython-input-3-db557ff74d79>:21: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size, on_bad_lines='skip', encoding='ISO-8859-1'):
<ipython-input-3-db557ff74d79>:21: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size, on_bad_lines='skip', encoding='ISO-8859-1'):
<ipython-input-3-db557ff74d79>:21: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size, on_bad_lines='skip', encoding='ISO-8859-1'):

Processing file: __MACOSX/._cust_seg.csv
Total rows across all CSV filed: 1000000

In [4]:
original_df = pd.read_csv('/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week7/cust_seg.csv')
original_df

#df = pd.DataFrame(/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week8/cust_seg.csv)

<ipython-input-4-89c812f295d3>:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  original_df = pd.read_csv('/content/drive/MyDrive/Data_Glacier_Data_Analyst_2024/week7/cust_seg.csv')

        Unnamed: 0  fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t  indrel_1mes tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  cod_prov      nomprov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0                0  2015-01-28   1375586            N              ES    H   35  2015-01-12        0.0          6     1.0            NaN          1.0           A       S      N      NaN           KHL       N      1.0      29.0       MALAGA                    1.0   87218.10                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
1                1  2015-01-28   1050611            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      S      NaN           KHE       N      1.0      13.0  CIUDAD REAL                    0.0   35548.74                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
2                2  2015-01-28   1050612            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0      13.0  CIUDAD REAL                    0.0  122179.11                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
3                3  2015-01-28   1050613            N              ES    H   22  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHD       N      1.0      50.0     ZARAGOZA                    0.0  119775.54                  0                  0                 0                  0                 0                  0                  0                  0                  0                  1                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
4                4  2015-01-28   1050614            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      50.0     ZARAGOZA                    1.0        NaN                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
...            ...         ...       ...          ...             ...  ...  ...         ...        ...        ...     ...            ...          ...         ...     ...    ...      ...           ...     ...      ...       ...          ...                    ...        ...                ...                ...               ...                ...               ...                ...                ...                ...                ...                ...                ...                ...                ...                ...               ...                ...                ...                ...                ...                ...               ...              ...                ...              ...
999995      999995  2015-02-28   1183296            N              ES    H   27  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      28.0       MADRID                    1.0   55516.98                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999996      999996  2015-02-28   1183295            N              ES    H   56  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      15.0    CORUÑA, A                    1.0   75654.84                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
999997      999997  2015-02-28   1183294            N              ES    V   39  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      15.0    CORUÑA, A                    1.0   80634.87                  0                  0                 0                  0                 1                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999998      999998  2015-02-28   1183293            N              ES    V   36  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      S      NaN           KFC       N      1.0      28.0       MADRID                    1.0   57818.46                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999999      999999  2015-02-28   1183289            N              ES    H   38  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      11.0        CADIZ                    1.0   85903.44                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1

[1000000 rows x 48 columns]

In [5]:
df = original_df.copy()

# **Week8**

#Understanding Data

In [6]:
df.shape

(1000000, 48)

In [7]:
df.describe()

           Unnamed: 0      ncodpers      ind_nuevo         indrel    indrel_1mes   tipodom       cod_prov  ind_actividad_cliente         renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
count  1000000.000000  1.000000e+06  989218.000000  989218.000000  989218.000000  989218.0  982266.000000          989218.000000  8.248170e+05     1000000.000000     1000000.000000    1000000.000000     1000000.000000    1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000    1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000     1000000.000000    1000000.000000    994598.000000      994598.000000   1000000.000000
mean    499999.500000  6.905967e+05       0.000489       1.109074       1.000085       1.0      26.852131               0.564971  1.396462e+05           0.000177           0.000039          0.749626           0.000591          0.105296           0.013623           0.009894           0.212486           0.072079           0.002158           0.003150           0.066881           0.106267           0.027182          0.009982           0.014553           0.004661           0.072581           0.066084           0.039378          0.006442         0.071629           0.079543         0.166275
std     288675.278933  4.044084e+05       0.022114       3.267624       0.012954       0.0      12.422924               0.495761  2.389858e+05           0.013303           0.006245          0.433229           0.024303          0.306935           0.115920           0.098975           0.409067           0.258619           0.046404           0.056036           0.249816           0.308179           0.162614          0.099410           0.119755           0.068112           0.259448           0.248429           0.194493          0.080003         0.257873           0.270584         0.372327
min          0.000000  1.588900e+04       0.000000       1.000000       1.000000       1.0       1.000000               0.000000  1.202730e+03           0.000000           0.000000          0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000         0.000000           0.000000         0.000000
25%     249999.750000  3.364110e+05       0.000000       1.000000       1.000000       1.0      18.000000               0.000000  7.157184e+04           0.000000           0.000000          0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000         0.000000           0.000000         0.000000
50%     499999.500000  6.644760e+05       0.000000       1.000000       1.000000       1.0      28.000000               1.000000  1.066519e+05           0.000000           0.000000          1.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000         0.000000           0.000000         0.000000
75%     749999.250000  1.074511e+06       0.000000       1.000000       1.000000       1.0      33.000000               1.000000  1.634325e+05           0.000000           0.000000          1.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000           0.000000           0.000000           0.000000           0.000000           0.000000          0.000000         0.000000           0.000000         0.000000
max     999999.000000  1.379131e+06       1.000000      99.000000       3.000000       1.0      52.000000               1.000000  2.889440e+07           1.000000           1.000000          1.000000           1.000000          1.000000           1.000000           1.000000           1.000000           1.000000           1.000000           1.000000           1.000000           1.000000           1.000000          1.000000           1.000000           1.000000           1.000000           1.000000           1.000000          1.000000         1.000000           1.000000         1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1000000 non-null  int64
 1   fecha_dato             1000000 non-null  object
 2   ncodpers               1000000 non-null  int64
 3   ind_empleado           989218 non-null   object
 4   pais_residencia        989218 non-null   object
 5   sexo                   989214 non-null   object
 6   age                    1000000 non-null  object
 7   fecha_alta             989218 non-null   object
 8   ind_nuevo              989218 non-null   float64
 9   antiguedad             1000000 non-null  object
 10  indrel                 989218 non-null   float64
 11  ult_fec_cli_1t         1101 non-null     object
 12  indrel_1mes            989218 non-null   float64
 13  tiprel_1mes            989218 non-null   object
 14  indresi                989218 non-null   object
 15  indext                 989218 non-null   object
 16  conyuemp               178 non-null      object
 17  canal_entrada          989139 non-null   object
 18  indfall                989218 non-null   object
 19  tipodom                989218 non-null   float64
 20  cod_prov               982266 non-null   float64
 21  nomprov                982266 non-null   object
 22  ind_actividad_cliente  989218 non-null   float64
 23  renta                  824817 non-null   float64
 24  ind_ahor_fin_ult1      1000000 non-null  int64
 25  ind_aval_fin_ult1      1000000 non-null  int64
 26  ind_cco_fin_ult1       1000000 non-null  int64
 27  ind_cder_fin_ult1      1000000 non-null  int64
 28  ind_cno_fin_ult1       1000000 non-null  int64
 29  ind_ctju_fin_ult1      1000000 non-null  int64
 30  ind_ctma_fin_ult1      1000000 non-null  int64
 31  ind_ctop_fin_ult1      1000000 non-null  int64
 32  ind_ctpp_fin_ult1      1000000 non-null  int64
 33  ind_deco_fin_ult1      1000000 non-null  int64
 34  ind_deme_fin_ult1      1000000 non-null  int64
 35  ind_dela_fin_ult1      1000000 non-null  int64
 36  ind_ecue_fin_ult1      1000000 non-null  int64
 37  ind_fond_fin_ult1      1000000 non-null  int64
 38  ind_hip_fin_ult1       1000000 non-null  int64
 39  ind_plan_fin_ult1      1000000 non-null  int64
 40  ind_pres_fin_ult1      1000000 non-null  int64
 41  ind_reca_fin_ult1      1000000 non-null  int64
 42  ind_tjcr_fin_ult1      1000000 non-null  int64
 43  ind_valo_fin_ult1      1000000 non-null  int64
 44  ind_viv_fin_ult1       1000000 non-null  int64
 45  ind_nomina_ult1        994598 non-null   float64
 46  ind_nom_pens_ult1      994598 non-null   float64
 47  ind_recibo_ult1        1000000 non-null  int64
dtypes: float64(9), int64(24), object(15)
memory usage: 366.2+ MB

In [9]:
cols = df.select_dtypes(['object']).columns.tolist()

In [10]:
cols

['fecha_dato',
 'ind_empleado',
 'pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'antiguedad',
 'ult_fec_cli_1t',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'nomprov']

In [11]:
df.describe(include='object').T

                   count unique         top    freq
fecha_dato       1000000      2  2015-01-28  625457
ind_empleado      989218      5           N  988260
pais_residencia   989218    113          ES  982264
sexo              989214      2           V  562000
age              1000000    115          22   51017
fecha_alta        989218   6238  2013-10-14    3920
antiguedad       1000000    249          21   34320
ult_fec_cli_1t      1101     22  2015-07-01      97
tiprel_1mes       989218      3           A  547800
indresi           989218      2           S  982264
indext            989218      2           N  946328
conyuemp             178      2           N     176
canal_entrada     989139    156         KAT  313944
indfall           989218      2           N  986107
nomprov           982266     52      MADRID  360131

In [12]:
cols_obj = df.select_dtypes(['object'])

for i in cols_obj.columns:
  print('Unique values in', i, 'are :')
  print(df[i].value_counts())
  print('*'*40)

Unique values in fecha_dato are :
fecha_dato
2015-01-28    625457
2015-02-28    374543
Name: count, dtype: int64
****************************************
Unique values in ind_empleado are :
ind_empleado
N    988260
B       387
A       287
F       282
S         2
Name: count, dtype: int64
****************************************
Unique values in pais_residencia are :
pais_residencia
ES    982264
FR       546
AR       542
DE       487
GB       480
       ...
TN         2
LB         2
GE         2
BZ         2
AL         1
Name: count, Length: 113, dtype: int64
****************************************
Unique values in sexo are :
sexo
V    562000
H    427214
Name: count, dtype: int64
****************************************
Unique values in age are :
age
 22    51017
 23    45366
 24    38992
 21    34015
 44    28800
       ...
110       14
115       12
  2       11
113        8
116        4
Name: count, Length: 115, dtype: int64
****************************************
Unique values in fecha_alta are :
fecha_alta
2013-10-14    3920
2013-08-03    3738
2014-07-28    3285
2014-10-03    2861
2013-10-11    2686
              ...
2013-05-19       1
2014-09-13       1
2011-03-19       1
2014-10-12       1
2015-02-01       1
Name: count, Length: 6238, dtype: int64
****************************************
Unique values in antiguedad are :
antiguedad
     21    34320
     23    23122
     24    20467
     12    19155
     20    18582
           ...
      0       49
      2       46
      1       37
      3       33
-999999        4
Name: count, Length: 249, dtype: int64
****************************************
Unique values in ult_fec_cli_1t are :
ult_fec_cli_1t
2015-07-01    97
2015-07-09    81
2015-07-06    76
2015-07-21    67
2015-07-07    63
2015-07-17    59
2015-07-28    57
2015-07-10    55
2015-07-15    54
2015-07-24    54
2015-07-20    53
2015-07-22    45
2015-07-03    42
2015-07-13    40
2015-07-29    38
2015-07-23    37
2015-07-14    36
2015-07-30    34
2015-07-27    32
2015-07-08    30
2015-07-02    26
2015-07-16    25
Name: count, dtype: int64
****************************************
Unique values in tiprel_1mes are :
tiprel_1mes
A    547800
I    441377
P        41
Name: count, dtype: int64
****************************************
Unique values in indresi are :
indresi
S    982264
N      6954
Name: count, dtype: int64
****************************************
Unique values in indext are :
indext
N    946328
S     42890
Name: count, dtype: int64
****************************************
Unique values in conyuemp are :
conyuemp
N    176
S      2
Name: count, dtype: int64
****************************************
Unique values in canal_entrada are :
canal_entrada
KAT    313944
KFC    259035
KHE    249254
KFA     37733
KAS      8190
        ...
KDI         2
KDB         2
KBN         2
KGN         1
KGC         1
Name: count, Length: 156, dtype: int64
****************************************
Unique values in indfall are :
indfall
N    986107
S      3111
Name: count, dtype: int64
****************************************
Unique values in nomprov are :
nomprov
MADRID                    360131
BARCELONA                  87372
VALENCIA                   46394
SEVILLA                    43922
CORUÑA, A                  27545
MALAGA                     26798
MURCIA                     24782
ZARAGOZA                   24621
ALICANTE                   20323
CADIZ                      20292
ASTURIAS                   18399
PONTEVEDRA                 17482
VALLADOLID                 16657
PALMAS, LAS                15976
BIZKAIA                    15597
GRANADA                    12930
TOLEDO                     12131
BADAJOZ                    11909
CANTABRIA                  11264
SALAMANCA                  10650
CORDOBA                     9829
BALEARS, ILLES              8361
CACERES                     8347
HUELVA                      7923
CIUDAD REAL                 7782
ALBACETE                    7294
CASTELLON                   6711
NAVARRA                     6584
BURGOS                      6403
TARRAGONA                   6120
RIOJA, LA                   5992
LEON                        5968
GIRONA                      5735
GIPUZKOA                    5708
LUGO                        5259
OURENSE                     5151
SANTA CRUZ DE TENERIFE      5080
LERIDA                      4846
JAEN                        4492
GUADALAJARA                 4327
ALMERIA                     4021
CUENCA                      3768
PALENCIA                    3224
ZAMORA                      3213
SEGOVIA                     2979
ALAVA                       2878
HUESCA                      2657
AVILA                       2573
TERUEL                      1397
SORIA                       1179
MELILLA                      764
CEUTA                        526
Name: count, dtype: int64
****************************************

In [13]:
cols_num = df.select_dtypes(['int64']).columns.tolist()

In [14]:
cols_num

['Unnamed: 0',
 'ncodpers',
 'ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_recibo_ult1']

In [15]:
df.describe(include='int64').T

                       count           mean            std      min        25%       50%         75%        max
Unnamed: 0         1000000.0  499999.500000  288675.278933      0.0  249999.75  499999.5   749999.25   999999.0
ncodpers           1000000.0  690596.670395  404408.432011  15889.0  336411.00  664476.0  1074511.25  1379131.0
ind_ahor_fin_ult1  1000000.0       0.000177       0.013303      0.0       0.00       0.0        0.00        1.0
ind_aval_fin_ult1  1000000.0       0.000039       0.006245      0.0       0.00       0.0        0.00        1.0
ind_cco_fin_ult1   1000000.0       0.749626       0.433229      0.0       0.00       1.0        1.00        1.0
ind_cder_fin_ult1  1000000.0       0.000591       0.024303      0.0       0.00       0.0        0.00        1.0
ind_cno_fin_ult1   1000000.0       0.105296       0.306935      0.0       0.00       0.0        0.00        1.0
ind_ctju_fin_ult1  1000000.0       0.013623       0.115920      0.0       0.00       0.0        0.00        1.0
ind_ctma_fin_ult1  1000000.0       0.009894       0.098975      0.0       0.00       0.0        0.00        1.0
ind_ctop_fin_ult1  1000000.0       0.212486       0.409067      0.0       0.00       0.0        0.00        1.0
ind_ctpp_fin_ult1  1000000.0       0.072079       0.258619      0.0       0.00       0.0        0.00        1.0
ind_deco_fin_ult1  1000000.0       0.002158       0.046404      0.0       0.00       0.0        0.00        1.0
ind_deme_fin_ult1  1000000.0       0.003150       0.056036      0.0       0.00       0.0        0.00        1.0
ind_dela_fin_ult1  1000000.0       0.066881       0.249816      0.0       0.00       0.0        0.00        1.0
ind_ecue_fin_ult1  1000000.0       0.106267       0.308179      0.0       0.00       0.0        0.00        1.0
ind_fond_fin_ult1  1000000.0       0.027182       0.162614      0.0       0.00       0.0        0.00        1.0
ind_hip_fin_ult1   1000000.0       0.009982       0.099410      0.0       0.00       0.0        0.00        1.0
ind_plan_fin_ult1  1000000.0       0.014553       0.119755      0.0       0.00       0.0        0.00        1.0
ind_pres_fin_ult1  1000000.0       0.004661       0.068112      0.0       0.00       0.0        0.00        1.0
ind_reca_fin_ult1  1000000.0       0.072581       0.259448      0.0       0.00       0.0        0.00        1.0
ind_tjcr_fin_ult1  1000000.0       0.066084       0.248429      0.0       0.00       0.0        0.00        1.0
ind_valo_fin_ult1  1000000.0       0.039378       0.194493      0.0       0.00       0.0        0.00        1.0
ind_viv_fin_ult1   1000000.0       0.006442       0.080003      0.0       0.00       0.0        0.00        1.0
ind_recibo_ult1    1000000.0       0.166275       0.372327      0.0       0.00       0.0        0.00        1.0

In [16]:
cols_numflo = df.select_dtypes(['float64']).columns.tolist()

In [17]:
cols_numflo

['ind_nuevo',
 'indrel',
 'indrel_1mes',
 'tipodom',
 'cod_prov',
 'ind_actividad_cliente',
 'renta',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1']

In [18]:
df.describe(include='float64').T

                          count           mean            std      min       25%        50%        75%          max
ind_nuevo              989218.0       0.000489       0.022114     0.00      0.00       0.00       0.00         1.00
indrel                 989218.0       1.109074       3.267624     1.00      1.00       1.00       1.00        99.00
indrel_1mes            989218.0       1.000085       0.012954     1.00      1.00       1.00       1.00         3.00
tipodom                989218.0       1.000000       0.000000     1.00      1.00       1.00       1.00         1.00
cod_prov               982266.0      26.852131      12.422924     1.00     18.00      28.00      33.00        52.00
ind_actividad_cliente  989218.0       0.564971       0.495761     0.00      0.00       1.00       1.00         1.00
renta                  824817.0  139646.150940  238985.824907  1202.73  71571.84  106651.86  163432.47  28894395.51
ind_nomina_ult1        994598.0       0.071629       0.257873     0.00      0.00       0.00       0.00         1.00
ind_nom_pens_ult1      994598.0       0.079543       0.270584     0.00      0.00       0.00       0.00         1.00

In [19]:
df.isnull().sum()

Unnamed: 0                    0
fecha_dato                    0
ncodpers                      0
ind_empleado              10782
pais_residencia           10782
sexo                      10786
age                           0
fecha_alta                10782
ind_nuevo                 10782
antiguedad                    0
indrel                    10782
ult_fec_cli_1t           998899
indrel_1mes               10782
tiprel_1mes               10782
indresi                   10782
indext                    10782
conyuemp                 999822
canal_entrada             10861
indfall                   10782
tipodom                   10782
cod_prov                  17734
nomprov                   17734
ind_actividad_cliente     10782
renta                    175183
ind_ahor_fin_ult1             0
ind_aval_fin_ult1             0
ind_cco_fin_ult1              0
ind_cder_fin_ult1             0
ind_cno_fin_ult1              0
ind_ctju_fin_ult1             0
ind_ctma_fin_ult1             0
ind_ctop_fin_ult1             0
ind_ctpp_fin_ult1             0
ind_deco_fin_ult1             0
ind_deme_fin_ult1             0
ind_dela_fin_ult1             0
ind_ecue_fin_ult1             0
ind_fond_fin_ult1             0
ind_hip_fin_ult1              0
ind_plan_fin_ult1             0
ind_pres_fin_ult1             0
ind_reca_fin_ult1             0
ind_tjcr_fin_ult1             0
ind_valo_fin_ult1             0
ind_viv_fin_ult1              0
ind_nomina_ult1            5402
ind_nom_pens_ult1          5402
ind_recibo_ult1               0
dtype: int64

In [20]:
df.isnull().sum().sum()

2371207

In [21]:
df.isnull()

        Unnamed: 0  fecha_dato  ncodpers  ind_empleado  pais_residencia   sexo    age  fecha_alta  ind_nuevo  antiguedad  indrel  ult_fec_cli_1t  indrel_1mes  tiprel_1mes  indresi  indext  conyuemp  canal_entrada  indfall  tipodom  cod_prov  nomprov  ind_actividad_cliente  renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0            False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
1            False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
2            False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
3            False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
4            False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False   True              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
...            ...         ...       ...           ...              ...    ...    ...         ...        ...         ...     ...             ...          ...          ...      ...     ...       ...            ...      ...      ...       ...      ...                    ...    ...                ...                ...               ...                ...               ...                ...                ...                ...                ...                ...                ...                ...                ...                ...               ...                ...                ...                ...                ...                ...               ...              ...                ...              ...
999995       False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
999996       False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
999997       False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
999998       False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False
999999       False       False     False         False            False  False  False       False      False       False   False            True        False        False    False   False      True          False    False    False     False    False                  False  False              False              False             False              False             False              False              False              False              False              False              False              False              False              False             False              False              False              False              False              False             False            False              False            False

[1000000 rows x 48 columns]

In [22]:
def null_agg_percent(df):
    agg = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum()/len(df)).sort_values(ascending = False)

    agg_percent = pd.DataFrame({"aggregate":agg, "percent": percent}).reset_index()
    agg_percent.columns = ["Column_Name","aggregate", "percent"]
    return agg_percent

In [23]:
null_agg_percent(df)

              Column_Name  aggregate   percent
0                conyuemp     999822  0.999822
1          ult_fec_cli_1t     998899  0.998899
2                   renta     175183  0.175183
3                 nomprov      17734  0.017734
4                cod_prov      17734  0.017734
5           canal_entrada      10861  0.010861
6                    sexo      10786  0.010786
7                 indresi      10782  0.010782
8   ind_actividad_cliente      10782  0.010782
9                 tipodom      10782  0.010782
10                indfall      10782  0.010782
11                 indext      10782  0.010782
12            tiprel_1mes      10782  0.010782
13            indrel_1mes      10782  0.010782
14                 indrel      10782  0.010782
15              ind_nuevo      10782  0.010782
16             fecha_alta      10782  0.010782
17        pais_residencia      10782  0.010782
18           ind_empleado      10782  0.010782
19        ind_nomina_ult1       5402  0.005402
20      ind_nom_pens_ult1       5402  0.005402
21      ind_pres_fin_ult1          0  0.000000
22      ind_fond_fin_ult1          0  0.000000
23      ind_ecue_fin_ult1          0  0.000000
24       ind_hip_fin_ult1          0  0.000000
25      ind_plan_fin_ult1          0  0.000000
26             Unnamed: 0          0  0.000000
27      ind_reca_fin_ult1          0  0.000000
28      ind_tjcr_fin_ult1          0  0.000000
29      ind_valo_fin_ult1          0  0.000000
30      ind_deme_fin_ult1          0  0.000000
31       ind_viv_fin_ult1          0  0.000000
32      ind_dela_fin_ult1          0  0.000000
33      ind_ahor_fin_ult1          0  0.000000
34      ind_deco_fin_ult1          0  0.000000
35      ind_ctpp_fin_ult1          0  0.000000
36      ind_ctop_fin_ult1          0  0.000000
37      ind_ctma_fin_ult1          0  0.000000
38      ind_ctju_fin_ult1          0  0.000000
39       ind_cno_fin_ult1          0  0.000000
40      ind_cder_fin_ult1          0  0.000000
41       ind_cco_fin_ult1          0  0.000000
42      ind_aval_fin_ult1          0  0.000000
43             fecha_dato          0  0.000000
44             antiguedad          0  0.000000
45                    age          0  0.000000
46               ncodpers          0  0.000000
47        ind_recibo_ult1          0  0.000000

In [24]:
df_pandas= pd.DataFrame(df)

In [25]:
df_pandas.head()

   Unnamed: 0  fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t  indrel_1mes tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  cod_prov      nomprov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0           0  2015-01-28   1375586            N              ES    H   35  2015-01-12        0.0          6     1.0            NaN          1.0           A       S      N      NaN           KHL       N      1.0      29.0       MALAGA                    1.0   87218.10                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
1           1  2015-01-28   1050611            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      S      NaN           KHE       N      1.0      13.0  CIUDAD REAL                    0.0   35548.74                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
2           2  2015-01-28   1050612            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0      13.0  CIUDAD REAL                    0.0  122179.11                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
3           3  2015-01-28   1050613            N              ES    H   22  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHD       N      1.0      50.0     ZARAGOZA                    0.0  119775.54                  0                  0                 0                  0                 0                  0                  0                  0                  0                  1                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
4           4  2015-01-28   1050614            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      50.0     ZARAGOZA                    1.0        NaN                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0

In [26]:
# check for outliers

nums_df = df.select_dtypes(include='number')

q1 = nums_df.quantile(0.25)
q3 = nums_df.quantile(0.75)

iqr = q3-q1
threshold = 1.5

upper_limit = q3 + threshold * iqr
lower_limit = q1 - threshold * iqr
print(f'IQR: {iqr}')
print('-'*40)
print(f'Upperlimit: {round(upper_limit,3)}')
print('-'*40)
print(f'Lower limit: {round(lower_limit,3)}')

IQR: Unnamed: 0               499999.50
ncodpers                 738100.25
ind_nuevo                     0.00
indrel                        0.00
indrel_1mes                   0.00
tipodom                       0.00
cod_prov                     15.00
ind_actividad_cliente         1.00
renta                     91860.63
ind_ahor_fin_ult1             0.00
ind_aval_fin_ult1             0.00
ind_cco_fin_ult1              1.00
ind_cder_fin_ult1             0.00
ind_cno_fin_ult1              0.00
ind_ctju_fin_ult1             0.00
ind_ctma_fin_ult1             0.00
ind_ctop_fin_ult1             0.00
ind_ctpp_fin_ult1             0.00
ind_deco_fin_ult1             0.00
ind_deme_fin_ult1             0.00
ind_dela_fin_ult1             0.00
ind_ecue_fin_ult1             0.00
ind_fond_fin_ult1             0.00
ind_hip_fin_ult1              0.00
ind_plan_fin_ult1             0.00
ind_pres_fin_ult1             0.00
ind_reca_fin_ult1             0.00
ind_tjcr_fin_ult1             0.00
ind_valo_fin_ult1             0.00
ind_viv_fin_ult1              0.00
ind_nomina_ult1               0.00
ind_nom_pens_ult1             0.00
ind_recibo_ult1               0.00
dtype: float64
----------------------------------------
Upperlimit: Unnamed: 0               1499998.500
ncodpers                 2181661.625
ind_nuevo                      0.000
indrel                         1.000
indrel_1mes                    1.000
tipodom                        1.000
cod_prov                      55.500
ind_actividad_cliente          2.500
renta                     301223.415
ind_ahor_fin_ult1              0.000
ind_aval_fin_ult1              0.000
ind_cco_fin_ult1               2.500
ind_cder_fin_ult1              0.000
ind_cno_fin_ult1               0.000
ind_ctju_fin_ult1              0.000
ind_ctma_fin_ult1              0.000
ind_ctop_fin_ult1              0.000
ind_ctpp_fin_ult1              0.000
ind_deco_fin_ult1              0.000
ind_deme_fin_ult1              0.000
ind_dela_fin_ult1              0.000
ind_ecue_fin_ult1              0.000
ind_fond_fin_ult1              0.000
ind_hip_fin_ult1               0.000
ind_plan_fin_ult1              0.000
ind_pres_fin_ult1              0.000
ind_reca_fin_ult1              0.000
ind_tjcr_fin_ult1              0.000
ind_valo_fin_ult1              0.000
ind_viv_fin_ult1               0.000
ind_nomina_ult1                0.000
ind_nom_pens_ult1              0.000
ind_recibo_ult1                0.000
dtype: float64
----------------------------------------
Lower limit: Unnamed: 0              -499999.500
ncodpers                -770739.375
ind_nuevo                     0.000
indrel                        1.000
indrel_1mes                   1.000
tipodom                       1.000
cod_prov                     -4.500
ind_actividad_cliente        -1.500
renta                    -66219.105
ind_ahor_fin_ult1             0.000
ind_aval_fin_ult1             0.000
ind_cco_fin_ult1             -1.500
ind_cder_fin_ult1             0.000
ind_cno_fin_ult1              0.000
ind_ctju_fin_ult1             0.000
ind_ctma_fin_ult1             0.000
ind_ctop_fin_ult1             0.000
ind_ctpp_fin_ult1             0.000
ind_deco_fin_ult1             0.000
ind_deme_fin_ult1             0.000
ind_dela_fin_ult1             0.000
ind_ecue_fin_ult1             0.000
ind_fond_fin_ult1             0.000
ind_hip_fin_ult1              0.000
ind_plan_fin_ult1             0.000
ind_pres_fin_ult1             0.000
ind_reca_fin_ult1             0.000
ind_tjcr_fin_ult1             0.000
ind_valo_fin_ult1             0.000
ind_viv_fin_ult1              0.000
ind_nomina_ult1               0.000
ind_nom_pens_ult1             0.000
ind_recibo_ult1               0.000
dtype: float64

In [27]:
outliers = df[nums_df[(nums_df < lower_limit) | (nums_df > upper_limit)].any(axis=1)]
print(outliers)

        Unnamed: 0  fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t  indrel_1mes tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  cod_prov      nomprov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
3                3  2015-01-28   1050613            N              ES    H   22  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHD       N      1.0      50.0     ZARAGOZA                    0.0  119775.54                  0                  0                 0                  0                 0                  0                  0                  0                  0                  1                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
21              21  2015-01-28   1050586            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      13.0  CIUDAD REAL                    1.0   64194.99                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
40              40  2015-01-28   1050670            N              ES    V   37  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      37.0    SALAMANCA                    1.0   64031.25                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
41              41  2015-01-28   1050676            N              ES    V   31  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      45.0       TOLEDO                    0.0   90431.85                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  1                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
44              44  2015-01-28   1050686            N              ES    V   39  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      10.0      CACERES                    1.0   37075.26                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  1                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
...            ...         ...       ...          ...             ...  ...  ...         ...        ...        ...     ...            ...          ...         ...     ...    ...      ...           ...     ...      ...       ...          ...                    ...        ...                ...                ...               ...                ...               ...                ...                ...                ...                ...                ...                ...                ...                ...                ...               ...                ...                ...                ...                ...                ...               ...              ...                ...              ...
999994      999994  2015-02-28   1183298            N              ES    H   44  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0       9.0       BURGOS                    1.0   66054.24                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  1                  0                  0                 0              0.0                0.0                1
999995      999995  2015-02-28   1183296            N              ES    H   27  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      28.0       MADRID                    1.0   55516.98                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999997      999997  2015-02-28   1183294            N              ES    V   39  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      15.0    CORUÑA, A                    1.0   80634.87                  0                  0                 0                  0                 1                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999998      999998  2015-02-28   1183293            N              ES    V   36  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      S      NaN           KFC       N      1.0      28.0       MADRID                    1.0   57818.46                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1
999999      999999  2015-02-28   1183289            N              ES    H   38  2013-09-25        0.0         22     1.0            NaN          1.0           A       S      N      NaN           KFC       N      1.0      11.0        CADIZ                    1.0   85903.44                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                1

[534980 rows x 48 columns]

In [28]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import skew

# Highlight the outliwers each num column
for column in nums_df.columns:
    plt.figure(figsize=(10, 6))

    # plot boxplot
    sns.boxplot(x=nums_df[column], color='lightblue', whis=1.5)

    # plot the outliers
    outlier_points = nums_df[(nums_df[column] < lower_limit[column]) | (nums_df[column] > upper_limit[column])][column]
    if not outlier_points.empty:
        y = np.random.uniform(low=-0.02, high=0.02, size=len(outlier_points))
        plt.scatter(outlier_points, y, color='red', label='Outliers', alpha=0.7)

    plt.title(f'Box Plot with Outliers Highlighted for {column}')
    plt.xlabel(column)
    plt.legend()
    plt.show()


    # histogram and KDE plot
    plt.figure(figsize=(10, 6))
    sns.histplot(nums_df[column], kde=True, color='lightblue', bins=30, stat="density", label="Data Distribution")

    # Skewness
    skewness = skew(nums_df[column].dropna())  # calculation with drop NA



    # add the Skewnessinformation to plot
    plt.title(f'Distribution of {column} (Skewness: {skewness:.2f})', fontsize=14)
    plt.xlabel(column, fontsize=12)
    plt.ylabel('Density', fontsize=12)
    plt.axvline(nums_df[column].mean(), color='red', linestyle='--', label='Mean')
    plt.axvline(nums_df[column].median(), color='green', linestyle='--', label='Median')

    plt.legend()
    plt.show()

Output hidden; open in https://colab.research.google.com to view.

# **Week9**

# Data Cleaning

### Analysis Outliers

In week 8, I examined the outliers and skewness in the visualizations above. It appears that the 'renta' variable, which represents the gross income of households, contains many outliers above the median and mean. These outliers correspond to high-income customers. Retaining these outliers may be beneficial for identifying specific trends within the high-income group, which could be useful for targeted campaigns. Therefore, while I am checking for outliers, I do not plan to omit them.

In [29]:
# check for outliers
q1 = df['renta'].quantile(0.25)
q3 = df['renta'].quantile(0.75)

iqr = q3-q1
threshold = 1.5

upper_limit = q3 + threshold * iqr
lower_limit = q1 - threshold * iqr
print(f'Outliers of renta \nIQR: {iqr} \nUpperlimit: {round(upper_limit,3)} \nLower limit: {round(lower_limit,3)}')

Outliers of renta
IQR: 91860.63
Upperlimit: 301223.415
Lower limit: -66219.105

In [30]:
outliers_renta = df[(df['renta'] < lower_limit) | (df['renta'] > upper_limit)]
print(outliers_renta)

        Unnamed: 0  fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  ind_nuevo antiguedad  indrel ult_fec_cli_1t  indrel_1mes tiprel_1mes indresi indext conyuemp canal_entrada indfall  tipodom  cod_prov    nomprov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
158            158  2015-01-28   1050884            N              ES    V   29  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      28.0     MADRID                    0.0  323722.50                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
168            168  2015-01-28   1050872            N              ES    V   60  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      28.0     MADRID                    1.0  330939.12                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
181            181  2015-01-28   1050857            N              ES    V   23  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      28.0     MADRID                    1.0  640168.26                  0                  0                 0                  0                 1                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
249            249  2015-01-28   1050720            N              ES    H   23  2012-08-10        0.0         35     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0       8.0  BARCELONA                    1.0  311520.45                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
312            312  2015-01-28   1050234            N              ES    V   27  2012-08-10        0.0         35     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0       8.0  BARCELONA                    0.0  694172.85                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
...            ...         ...       ...          ...             ...  ...  ...         ...        ...        ...     ...            ...          ...         ...     ...    ...      ...           ...     ...      ...       ...        ...                    ...        ...                ...                ...               ...                ...               ...                ...                ...                ...                ...                ...                ...                ...                ...                ...               ...                ...                ...                ...                ...                ...               ...              ...                ...              ...
999633      999633  2015-02-28   1147670            N              ES    V   23  2013-07-25        0.0         24     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0      17.0     GIRONA                    1.0  707086.80                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
999641      999641  2015-02-28   1147659            N              ES    V   58  2013-07-25        0.0         24     1.0            NaN          1.0           A       S      N      NaN           KHE       N      1.0       8.0  BARCELONA                    1.0  370744.38                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
999684      999684  2015-02-28   1148234            N              ES    H   22  2013-07-25        0.0         24     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0       8.0  BARCELONA                    0.0  346805.55                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
999776      999776  2015-02-28   1148239            N              ES    V   22  2013-07-25        0.0         24     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0      17.0     GIRONA                    0.0  446170.20                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0
999779      999779  2015-02-28   1148259            N              ES    H   22  2013-07-25        0.0         24     1.0            NaN          1.0           I       S      N      NaN           KHE       N      1.0       8.0  BARCELONA                    0.0  416583.03                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0              0.0                0.0                0

[48166 rows x 48 columns]

## Dropping columns

Since the columns of "conyuemp" and "ult_fec_cli_1t" have 99% of missing values, we drop them. It is not useful and appropriate to fill in the missing values with 99%.

In [31]:
df.drop(columns=["conyuemp"], inplace = True, axis = 1)
df.drop(columns=["ult_fec_cli_1t"], inplace = True, axis = 1)

In [32]:
null_agg_percent(df)

              Column_Name  aggregate   percent
0                   renta     175183  0.175183
1                 nomprov      17734  0.017734
2                cod_prov      17734  0.017734
3           canal_entrada      10861  0.010861
4                    sexo      10786  0.010786
5             indrel_1mes      10782  0.010782
6   ind_actividad_cliente      10782  0.010782
7                 tipodom      10782  0.010782
8                 indfall      10782  0.010782
9                  indext      10782  0.010782
10                indresi      10782  0.010782
11            tiprel_1mes      10782  0.010782
12                 indrel      10782  0.010782
13              ind_nuevo      10782  0.010782
14             fecha_alta      10782  0.010782
15        pais_residencia      10782  0.010782
16           ind_empleado      10782  0.010782
17        ind_nomina_ult1       5402  0.005402
18      ind_nom_pens_ult1       5402  0.005402
19      ind_pres_fin_ult1          0  0.000000
20      ind_ecue_fin_ult1          0  0.000000
21      ind_fond_fin_ult1          0  0.000000
22       ind_hip_fin_ult1          0  0.000000
23      ind_plan_fin_ult1          0  0.000000
24             Unnamed: 0          0  0.000000
25      ind_reca_fin_ult1          0  0.000000
26      ind_tjcr_fin_ult1          0  0.000000
27      ind_valo_fin_ult1          0  0.000000
28      ind_deme_fin_ult1          0  0.000000
29       ind_viv_fin_ult1          0  0.000000
30      ind_dela_fin_ult1          0  0.000000
31      ind_aval_fin_ult1          0  0.000000
32      ind_deco_fin_ult1          0  0.000000
33      ind_ctpp_fin_ult1          0  0.000000
34      ind_ctop_fin_ult1          0  0.000000
35      ind_ctma_fin_ult1          0  0.000000
36      ind_ctju_fin_ult1          0  0.000000
37       ind_cno_fin_ult1          0  0.000000
38      ind_cder_fin_ult1          0  0.000000
39       ind_cco_fin_ult1          0  0.000000
40             fecha_dato          0  0.000000
41      ind_ahor_fin_ult1          0  0.000000
42             antiguedad          0  0.000000
43                    age          0  0.000000
44               ncodpers          0  0.000000
45        ind_recibo_ult1          0  0.000000

In [33]:
df.shape

(1000000, 46)

In [34]:
total_counts = np.product(df.shape)
print(f'total count in the dataset is {total_counts}')

total count in the dataset is 46000000

In [35]:
missing_values = df.isnull().sum().sum()
print(f'the count of missing value in the dataset is {missing_values}')

the count of missing value in the dataset is 372486

In [36]:
percent_of_missing_value = round(100*((missing_values)/total_counts),2)
print(f'the percent of missing values in the dataset is {percent_of_missing_value}%')

the percent of missing values in the dataset is 0.81%

**Insight**  
The percent of missing values are 0.81% in the dataset. That means it is not very high percentage. We can fill in the data using many methods.

#Feature Engineering

## Impute Numerical missing values

### 1, fillna() median

Regarding **Renta**, the median and mean are almost same points and extremely skewed to right so applying **imputation with median**.

In [37]:
df['renta'] = df['renta'].fillna(df['renta'].median())

### 2, KNN Imputer method

Apply **KNN Imputer** to numerical values

**Nearest Neighbor Imputation** is a powerful technique that relies on the similarity between data points. It can provide more accurate imputations than simpler methods like mean or median imputation, especially when relationships between features are complex.

In [38]:
from sklearn.impute import KNNImputer

# Initialize KNNImputer with k=2 neighbors
imputer = KNNImputer(n_neighbors=2)

# Impute missing values
numeric_df = df.select_dtypes(include=[float, int]) #KNN impute only can apply for numerical values
imputed_data = imputer.fit_transform(numeric_df)

print(imputed_data)

[[0.000000e+00 1.375586e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [1.000000e+00 1.050611e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [2.000000e+00 1.050612e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 ...
 [9.999970e+05 1.183294e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  1.000000e+00]
 [9.999980e+05 1.183293e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  1.000000e+00]
 [9.999990e+05 1.183289e+06 0.000000e+00 ... 0.000000e+00 0.000000e+00
  1.000000e+00]]

In [39]:
# Convert NumPy array to DataFrame and apply to the original columns.
imputed_df = pd.DataFrame(imputed_data, columns=numeric_df.columns)
print(imputed_df.head())

   Unnamed: 0   ncodpers  ind_nuevo  indrel  indrel_1mes  tipodom  cod_prov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0         0.0  1375586.0        0.0     1.0          1.0      1.0      29.0                    1.0   87218.10                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
1         1.0  1050611.0        0.0     1.0          1.0      1.0      13.0                    0.0   35548.74                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
2         2.0  1050612.0        0.0     1.0          1.0      1.0      13.0                    0.0  122179.11                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
3         3.0  1050613.0        0.0     1.0          1.0      1.0      50.0                    0.0  119775.54                0.0                0.0               0.0                0.0               0.0                0.0                0.0                0.0                0.0                1.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
4         4.0  1050614.0        0.0     1.0          1.0      1.0      50.0                    1.0  106651.86                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0

In [40]:
imputed_df.isnull().sum()

Unnamed: 0               0
ncodpers                 0
ind_nuevo                0
indrel                   0
indrel_1mes              0
tipodom                  0
cod_prov                 0
ind_actividad_cliente    0
renta                    0
ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1          0
ind_nom_pens_ult1        0
ind_recibo_ult1          0
dtype: int64

In [41]:
# update the numeric columns in the original df with replacing the columns of imputed_df
df[numeric_df.columns] = imputed_df
print(df.head())

   Unnamed: 0  fecha_dato   ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  ind_nuevo antiguedad  indrel  indrel_1mes tiprel_1mes indresi indext canal_entrada indfall  tipodom  cod_prov      nomprov  ind_actividad_cliente      renta  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0         0.0  2015-01-28  1375586.0            N              ES    H   35  2015-01-12        0.0          6     1.0          1.0           A       S      N           KHL       N      1.0      29.0       MALAGA                    1.0   87218.10                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
1         1.0  2015-01-28  1050611.0            N              ES    V   23  2012-08-10        0.0         35     1.0          1.0           I       S      S           KHE       N      1.0      13.0  CIUDAD REAL                    0.0   35548.74                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
2         2.0  2015-01-28  1050612.0            N              ES    V   23  2012-08-10        0.0         35     1.0          1.0           I       S      N           KHE       N      1.0      13.0  CIUDAD REAL                    0.0  122179.11                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
3         3.0  2015-01-28  1050613.0            N              ES    H   22  2012-08-10        0.0         35     1.0          1.0           I       S      N           KHD       N      1.0      50.0     ZARAGOZA                    0.0  119775.54                0.0                0.0               0.0                0.0               0.0                0.0                0.0                0.0                0.0                1.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0
4         4.0  2015-01-28  1050614.0            N              ES    V   23  2012-08-10        0.0         35     1.0          1.0           A       S      N           KHE       N      1.0      50.0     ZARAGOZA                    1.0  106651.86                0.0                0.0               1.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0                0.0               0.0                0.0                0.0                0.0                0.0                0.0               0.0              0.0                0.0              0.0

## 3, Impute Categorical missing values with fillna() mode

In [42]:
cols = df.select_dtypes(['object']).columns.tolist()
print(cols)

['fecha_dato', 'ind_empleado', 'pais_residencia', 'sexo', 'age', 'fecha_alta', 'antiguedad', 'tiprel_1mes', 'indresi', 'indext', 'canal_entrada', 'indfall', 'nomprov']

In [43]:
for i in cols:
  df[i] = df[i].astype('category')

In [44]:
cat_cols = df.select_dtypes(['category']).columns.tolist()
print(cat_cols)

['fecha_dato', 'ind_empleado', 'pais_residencia', 'sexo', 'age', 'fecha_alta', 'antiguedad', 'tiprel_1mes', 'indresi', 'indext', 'canal_entrada', 'indfall', 'nomprov']

In [45]:
for column in cat_cols:
  mode = df[column].mode()[0]
  df[column] = df[column].fillna(value=mode)

In [46]:
df.isnull().sum()

Unnamed: 0               0
fecha_dato               0
ncodpers                 0
ind_empleado             0
pais_residencia          0
sexo                     0
age                      0
fecha_alta               0
ind_nuevo                0
antiguedad               0
indrel                   0
indrel_1mes              0
tiprel_1mes              0
indresi                  0
indext                   0
canal_entrada            0
indfall                  0
tipodom                  0
cod_prov                 0
nomprov                  0
ind_actividad_cliente    0
renta                    0
ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1          0
ind_nom_pens_ult1        0
ind_recibo_ult1          0
dtype: int64

## Rename the column names to reader friendly

Drop the column with unnamed becuase it used be index

In [47]:
df.drop(columns=["Unnamed: 0"], inplace = True, axis = 1)

In [48]:
df.rename({'ancodpers': 'Customer_code', 'ind_empleado': 'Employee_index:_A_active_B_ex_employed_F_filial_N_not_employee_P_pasive', 'pais_residencia': 'Customer_s_Country_residence', 'ind_nuevo' :'New_customer_Index', 'antiguedad':'Customer_seniority', 'ult_fec_cli_1t':'Last_date_as_primary_customer', 'indrel_1mes':'Customer_type_at_the_beginning_of_the_month', 'tiprel_1mes':'Customer_relation_type_at_the_beginning_of_the_month', 'indresi':'Residence_index', 'indext':'Foreigner index', 'conyuemp':'Spouse index', 'canal_entrada':'channel_used_by_the_customer_to_join', 'indfall':'Deceased_index', 'tipodom':'Addres_type', 'cod_prov':'Province_code', 'nomprov':'Province_name', 'ind_actividad_cliente':'Activity_index', 'renta':'Gross_income_of_the_household', 'ind_ahor_fin_ult1':'Saving_Account', 'ind_aval_fin_ult1':'Guarantees','ind_cco_fin_ult1':'Current_Accounts', 'ind_cder_fin_ult1':'Derivada_Account', 'ind_cno_fin_ult1':'Payroll_Account', 'ind_ctju_fin_ult1':'Junior_Account', 'ind_ctma_fin_ult1':'Más_particular_Account', 'ind_ctop_fin_ult1':'particular_Account', 'ind_ctpp_fin_ult1':'particular_Plus_Account', 'ind_deco_fin_ult1':'Short-term_deposits', 'ind_deme_fin_ult1':'Medium-term_deposits', 'ind_dela_fin_ult1':'Long-term_deposits', 'ind_ecue_fin_ult1':'e-account', 'ind_fond_fin_ult1':'Funds', 'ind_hip_fin_ult1':'Mortgage', 'ind_plan_fin_ult1':'Pensions', 'ind_pres_fin_ult1':'Loans', 'ind_reca_fin_ult1':'Taxes', 'ind_tjcr_fin_ult1':'Credit_Card', 'ind_valo_fin_ult1':'Securities', 'ind_viv_fin_ult1':'Home_Account', 'ind_nomina_ult1':'Payroll', 'ind_nom_pens_ult1':'Pensions', 'ind_recibo_ult1':'Direct_Debit'}, axis=1, inplace=True)
df

        fecha_dato   ncodpers Employee_index:_A_active_B_ex_employed_F_filial_N_not_employee_P_pasive Customer_s_Country_residence sexo  age  fecha_alta  New_customer_Index Customer_seniority  indrel  Customer_type_at_the_beginning_of_the_month Customer_relation_type_at_the_beginning_of_the_month Residence_index Foreigner index channel_used_by_the_customer_to_join Deceased_index  Addres_type  Province_code Province_name  Activity_index  Gross_income_of_the_household  Saving_Account  Guarantees  Current_Accounts  Derivada_Account  Payroll_Account  Junior_Account  Más_particular_Account  particular_Account  particular_Plus_Account  Short-term_deposits  Medium-term_deposits  Long-term_deposits  e-account  Funds  Mortgage  Pensions  Loans  Taxes  Credit_Card  Securities  Home_Account  Payroll  Pensions  Direct_Debit
0       2015-01-28  1375586.0                                                  N                                                ES    H   35  2015-01-12                 0.0                  6     1.0                                          1.0                                                  A                 S               N                                  KHL              N          1.0           29.0        MALAGA             1.0                       87218.10             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
1       2015-01-28  1050611.0                                                  N                                                ES    V   23  2012-08-10                 0.0                 35     1.0                                          1.0                                                  I                 S               S                                  KHE              N          1.0           13.0   CIUDAD REAL             0.0                       35548.74             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
2       2015-01-28  1050612.0                                                  N                                                ES    V   23  2012-08-10                 0.0                 35     1.0                                          1.0                                                  I                 S               N                                  KHE              N          1.0           13.0   CIUDAD REAL             0.0                      122179.11             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
3       2015-01-28  1050613.0                                                  N                                                ES    H   22  2012-08-10                 0.0                 35     1.0                                          1.0                                                  I                 S               N                                  KHD              N          1.0           50.0      ZARAGOZA             0.0                      119775.54             0.0         0.0               0.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  1.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
4       2015-01-28  1050614.0                                                  N                                                ES    V   23  2012-08-10                 0.0                 35     1.0                                          1.0                                                  A                 S               N                                  KHE              N          1.0           50.0      ZARAGOZA             1.0                      106651.86             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
...            ...        ...                                                ...                                               ...  ...  ...         ...                 ...                ...     ...                                          ...                                                ...               ...             ...                                  ...            ...          ...            ...           ...             ...                            ...             ...         ...               ...               ...              ...             ...                     ...                 ...                      ...                  ...                   ...                 ...        ...    ...       ...       ...    ...    ...          ...         ...           ...      ...       ...           ...
999995  2015-02-28  1183296.0                                                  N                                                ES    H   27  2013-09-25                 0.0                 22     1.0                                          1.0                                                  A                 S               N                                  KFC              N          1.0           28.0        MADRID             1.0                       55516.98             0.0         0.0               0.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           1.0
999996  2015-02-28  1183295.0                                                  N                                                ES    H   56  2013-09-25                 0.0                 22     1.0                                          1.0                                                  A                 S               N                                  KFC              N          1.0           15.0     CORUÑA, A             1.0                       75654.84             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           0.0
999997  2015-02-28  1183294.0                                                  N                                                ES    V   39  2013-09-25                 0.0                 22     1.0                                          1.0                                                  A                 S               N                                  KFC              N          1.0           15.0     CORUÑA, A             1.0                       80634.87             0.0         0.0               0.0               0.0              1.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           1.0
999998  2015-02-28  1183293.0                                                  N                                                ES    V   36  2013-09-25                 0.0                 22     1.0                                          1.0                                                  A                 S               S                                  KFC              N          1.0           28.0        MADRID             1.0                       57818.46             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           1.0
999999  2015-02-28  1183289.0                                                  N                                                ES    H   38  2013-09-25                 0.0                 22     1.0                                          1.0                                                  A                 S               N                                  KFC              N          1.0           11.0         CADIZ             1.0                       85903.44             0.0         0.0               1.0               0.0              0.0             0.0                     0.0                 0.0                      0.0                  0.0                   0.0                 0.0        0.0    0.0       0.0       0.0    0.0    0.0          0.0         0.0           0.0      0.0       0.0           1.0

[1000000 rows x 45 columns]

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                                                                   Non-Null Count    Dtype
---  ------                                                                   --------------    -----
 0   fecha_dato                                                               1000000 non-null  category
 1   ncodpers                                                                 1000000 non-null  float64
 2   Employee_index:_A_active_B_ex_employed_F_filial_N_not_employee_P_pasive  1000000 non-null  category
 3   Customer_s_Country_residence                                             1000000 non-null  category
 4   sexo                                                                     1000000 non-null  category
 5   age                                                                      1000000 non-null  category
 6   fecha_alta                                                               1000000 non-null  category
 7   New_customer_Index                                                       1000000 non-null  float64
 8   Customer_seniority                                                       1000000 non-null  category
 9   indrel                                                                   1000000 non-null  float64
 10  Customer_type_at_the_beginning_of_the_month                              1000000 non-null  float64
 11  Customer_relation_type_at_the_beginning_of_the_month                     1000000 non-null  category
 12  Residence_index                                                          1000000 non-null  category
 13  Foreigner index                                                          1000000 non-null  category
 14  channel_used_by_the_customer_to_join                                     1000000 non-null  category
 15  Deceased_index                                                           1000000 non-null  category
 16  Addres_type                                                              1000000 non-null  float64
 17  Province_code                                                            1000000 non-null  float64
 18  Province_name                                                            1000000 non-null  category
 19  Activity_index                                                           1000000 non-null  float64
 20  Gross_income_of_the_household                                            1000000 non-null  float64
 21  Saving_Account                                                           1000000 non-null  float64
 22  Guarantees                                                               1000000 non-null  float64
 23  Current_Accounts                                                         1000000 non-null  float64
 24  Derivada_Account                                                         1000000 non-null  float64
 25  Payroll_Account                                                          1000000 non-null  float64
 26  Junior_Account                                                           1000000 non-null  float64
 27  Más_particular_Account                                                   1000000 non-null  float64
 28  particular_Account                                                       1000000 non-null  float64
 29  particular_Plus_Account                                                  1000000 non-null  float64
 30  Short-term_deposits                                                      1000000 non-null  float64
 31  Medium-term_deposits                                                     1000000 non-null  float64
 32  Long-term_deposits                                                       1000000 non-null  float64
 33  e-account                                                                1000000 non-null  float64
 34  Funds                                                                    1000000 non-null  float64
 35  Mortgage                                                                 1000000 non-null  float64
 36  Pensions                                                                 1000000 non-null  float64
 37  Loans                                                                    1000000 non-null  float64
 38  Taxes                                                                    1000000 non-null  float64
 39  Credit_Card                                                              1000000 non-null  float64
 40  Securities                                                               1000000 non-null  float64
 41  Home_Account                                                             1000000 non-null  float64
 42  Payroll                                                                  1000000 non-null  float64
 43  Pensions                                                                 1000000 non-null  float64
 44  Direct_Debit                                                             1000000 non-null  float64
dtypes: category(13), float64(32)
memory usage: 259.6 MB

In [50]:
df.to_csv("cleaned_customer_segmentation.csv", index=False)